* {
    font-family: Arial;
}

body {
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 9;
}

nav ul{
    display: flex;
}

nav a {
    display: block; /* para alterar tamanho do menu */
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: white;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url(imagens/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    color: white;
    font-size: 70px;
    text-shadow: 1px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner_headline h2 {
    color: white;
    font-size: 21px;
    text-shadow: 1px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}

.banner_options {
    height: 210px;
    display:flex;
}

.banner1,
.banner2,
.banner3 {
    flex:1;
    color: white;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0070c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner_title {
    font-size: 21px;
}

.banner_desc {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.banner_options a{
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    color: white;
    font-size: 13px;
    text-decoration: none;
}

.banner_options a:hover{
    display: inline-block;
    background-color: #d3d3d3;
    border: 1px solid white;
    padding: 5px;
    color: black;
    font-size: 13px;
    text-decoration: none;
}

.banner_desc1,
.banner_desc2,
.banner_desc3 {
    border-bottom: 1px solid rgb(79, 85, 158);
    margin-top: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_desc p{
    margin: 0px;
    margin-bottom: 5px;
    padding: 0;
}

#desc2,
#desc3 {
    margin-top: 20px;
}

#geral {
    display: flex;
    justify-content: center;

}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin-top:30px;
    margin-bottom: 20px;
}

.widget_title2{
    margin-top:0px;
    margin-bottom: 20px;
}

.widget_title_text{
    color: black;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    background-color: #36a9c1;
    width: 50px;
    height: 2px;
    margin-top: 10px;
}

.widget_body a:hover{
    color: #36a9c1;
}

.flex{
    display:flex;
    flex-wrap: wrap;
}

article{
    flex:1;
    min-width: 300px;
    margin-right: 20px;
}

article a{
    text-decoration: none;
}

article .news_data {
    display: flex;
}

article .news_posted_at {
    background-color: #2b4c99;
    font-size: 12px;
    color: white;
    padding: 10px;
    margin-right: 2px;
}

article .news_comments {
    background-color: #39aae1;
    font-size: 12px;
    color: white;
    padding: 10px;
}

article .news_thumb{
    margin-top: 30px;
}

article .news_thumb img{
    width: 100%;
    height: auto;
}

article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    font-size: 23px;
}

article .news_resume{
    color: #5c5c5c;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 30px;
}

.widget_body_department{
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.department_quadro {
    background-color: #0070c7;
    width: 150px;
    height: 150px;
    margin: 0;
    margin-bottom: 25px;
}

aside .news_resume{
    color: #5c5c5c;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 30px;
}

.make_desc1,
.make_desc2,
.make_desc3 {
    border-bottom: 1px solid rgb(184, 185, 187);
    margin-top: 0;
    padding: 0;
    display: block;
    align-items: center;
    top: 30px;
}

aside img{
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    margin-right: 5px;
    align-items: center;
    bottom: -5px;
    overflow: hidden;
    position: relative;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
    width: 100%;
}

.footer_menu {
    display: flex;
}

.fm1,
.fm2,
.fm3 {
    flex: 1;
    color: white;
    padding: 20px;
} 

.fm1{
    background-color: #39aae1;
}

.fm2{
    background-color: #0070c7;
}

.fm3{
    background-color: #2b4c99;
}

.footer_area{
    display: flex;
}

.footer_areaitem{
    flex: 1;
    color: white;
}

footer .widget_title_text{
    color: white;
}

.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

.footer_desc {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.widget_body_footer{
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

footer .footer_desc1,
.footer_desc2{
    display: flex;
    justify-content: space-between;
    color: #5c5c5c;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 30px;
    align-items: flex-end;
}

.footer_desc3{
    width: 143px;
}

.footer_email{
    word-break: normal;
}

footer b{
    color: white;
}

.footer_social {
    display: flex;
    justify-content: left;
    align-items: center;
}

.footer_img1,
.footer_img2,
.footer_img3,
.footer_img4{
    display: flex;
    align-items: center;
    background-color: #353434;
    padding: 3px;
    margin-right: 10px;
    filter: grayscale(100%);
}

footer a{
    display: flex;
}

footer a:hover,
.footer_img1:hover,
.footer_img2:hover,
.footer_img3:hover,
.footer_img4:hover{

    filter: none;
}

.department_quadro:hover{
    background-color: #1494f7;
}

footer .footer_latestdesc1{
    display: flex;
    flex-direction: row;
    color: white;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 1px;
}

footer .footer_latestdesc2{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    color: #0070c7;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}

.flecha {
    margin-right: 10px;
}

.flecha2 {
    margin-right: 10px;
    visibility: hidden;

}

.flechatw{
    margin-right: 10px;
    color: white;
}

footer .footer_latestdesc3{
    display: flex;
    flex-direction: row;
    color: #5c5c5c;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 1px;
}

footer .footer_latestdesc4{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    color: #0070c7;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}

.menuMobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
    border: 0.5px solid #39aae1;
    border-radius: 3px;
    padding: 10px;
}

.mm_line{
    height: 3px;
    background-color: #39aae1;
}

@media (min-width:763px) and (max-width:799px){
nav a{
    padding: 10px;
    font-size: 13px;
}
nav ul{
    padding-inline-start: 10px;
}

.banner_headline h1,
.banner_headline h2,
#geral section{
    margin-left: 20px;
}

.footer_areaitem{
    margin-left: 20px;
    margin-right: 20px;
}

.logo{
    margin-left: 10px;
}
}

@media (min-width:800px) and (max-width:945px){
.banner_headline h1,
.banner_headline h2,
#geral section{
    margin-left: 20px;
}
    
.footer_areaitem{
    margin-left: 20px;
    margin-right: 20px;
}

nav a{
    padding: 10px;
    font-size: 13px;
}

.logo{
    margin-left: 10px;
}

aside{
    margin-right: 10px;
}
}

@media (min-width:601px) and (max-width:762px){
.logo{
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: center;
}

header .container {
    justify-content: center;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1,
.banner_headline h2,
#geral section{
    margin-left: 20px;
}

.footer_areaitem{
    margin-left: 20px;
    margin-right: 20px;
}

.footer_area{
    flex-direction: column;
}

.footer_social{
    margin-left: 30px;
}

nav a{
    padding: 10px;
    font-size: 13px;
}

.menu{
    justify-content: center;
}
}

@media (max-width:600px){
.logo{
    margin-left: 20px;
}

header{
    height: auto;
}

.menuMobile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav ul{
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: white;
    padding-inline-start: 0;
}

.banner_headline h1{
    font-size: 55px;
    margin-left: 20px;
    margin-top: 50px;
}

.banner_headline h2{
    font-size: 17px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.banner_options{
    flex-direction: column;
    height: auto;
}

#geral{
    margin-top: 150px;
    margin-left: 20px;
}

section .container {
    flex-direction: column;
}

aside {
    margin-right: 20px;
}

.footer_menu{
    flex-direction: column;
}

.footer_area{
    flex-direction: column;
    margin-left: 20px;
}

.footer_social{
    margin-left: 30px;
}
}

@media (max-width:451px){
    .logo{
        margin-left: 20px;
    }
    
    header{
        height: auto;
    }
    
    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    nav ul{
        flex-direction: column;
        display: none;
    }
    
    .banner_headline h1{
        font-size: 55px;
        margin-left: 20px;
        margin-top: 50px;
    }
    
    .banner_headline h2{
        font-size: 17px;
        margin-left: 20px;
        margin-bottom: 50px;
    }
    
    .banner_options{
        flex-direction: column;
        height: auto;
    }
    
    #geral{
        margin-top: 180px;
        margin-left: 20px;
    }
    
    section .container {
        flex-direction: column;
    }
    
    aside {
        margin-right: 20px;
    }
    
    .footer_menu{
        flex-direction: column;
    }
    
    .footer_area{
        flex-direction: column;
        margin-left: 20px;
    }
    
    .footer_social{
        margin-left: 30px;
    }
    }

    @media (max-width:320px){
        .logo{
            margin-left: 20px;
        }
        
        header{
            height: auto;
        }
        
        .menuMobile{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        
        nav ul{
            flex-direction: column;
            display: none;
        }
        
        .banner_headline h1{
            font-size: 55px;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 50px;
        }
        
        .banner_headline h2{
            font-size: 17px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 50px;
        }
        
        .banner_options{
            flex-direction: column;
            height: auto;
        }
        
        #geral{
            margin-top: 210px;
            margin-left: 20px;
        }
        
        section .container {
            flex-direction: column;
        }
        
        aside {
            margin-right: 20px;
        }
        
        .footer_menu{
            flex-direction: column;
        }
        
        .footer_area{
            flex-direction: column;
            margin-left: 20px;
        }
        
        .footer_social{
            margin-left: 30px;
        }
        }

        @media (max-width:330px){
        .department_quadro{
            margin:10px;
        }
        }